$primary: #0b579f;
$secondary: #F47C21;
$info: #5b97d6;

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-color: #fff;
}