$primary: #F47C21;
$secondary: #0b579f;

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-color: #fff;
}