html,
body {
    margin: 0px;
    font-size: 14pt;
    font-family: "Roboto", sans-serif;
}

.enter-webpage {
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: 902;
    position: absolute;
}

#VisNetwork {
    height: 100vh;
    background-color: white;
}

.sidebar {
    height: 100%;
    position: fixed;
    width: 300px;
    z-index: 20;
    top: 0;
    left: 0;
    color: black;

    overflow-x: hidden;
    transition: 0.5s;
    box-sizing: border-box;
    padding-left: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar-open {
    transform: translateX(0%);
}

.sidebar-closed {
    transform: translateX(-100%);
}

.sidebar div {
    transition: 0.5s;
}


/* TODO remove 
.column {
    padding: 5px;
} */

.rangesli {
    width: 200px;
}


#YearCanvas {
    width: 200px;
    height: 100px;
}

.rangeyears {
    width: 200px;
    font-size: 16px;
    /*
    TODO remove 
    border: 0;
    background: #f1f1f1;
    margin: auto;
    color: #0b579f;
    text-align: center;
    font-weight: bold;
    padding-top: 5px; 
    */
}

#year-slider-range .ui-slider-handle,
#occur-slider-range .ui-slider-handle {
    cursor: pointer;
    background-color: var(--bs-light);
    transition: all 0.1s ease
}

#year-slider-range .ui-slider-handle:hover,
#occur-slider-range .ui-slider-handle:hover {
    background-color: #cacaca;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

div.ui-slider-range.ui-widget-header {
    background: #0b579f;
    transition: 0s;
}

div.vis-network div.vis-navigation div.vis-button {
    background-size: 2.5em;
    background-position: 50%;
    height: 38px;
    width: 38px;
    border-radius: 20px;
}

div.vis-network div.vis-navigation div.vis-button:hover {
    box-shadow: 0 0 2px 2px #F47C21;
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--up' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(244, 124, 33)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M16 12l-4-4-4 4M12 16V9'/%3E%3C/svg%3E");
    bottom: 50px;
    left: 55px;

}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--down' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(244, 124, 33)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M16 12l-4 4-4-4M12 8v7'/%3E%3C/svg%3E");
    bottom: 10px;
    left: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--left' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(244, 124, 33)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 8l-4 4 4 4M16 12H9'/%3E%3C/svg%3E");
    bottom: 10px;
    left: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--right' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(244, 124, 33)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 8l4 4-4 4M8 12h7'/%3E%3C/svg%3E");
    bottom: 10px;
    left: 95px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--zoom-extends' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(244, 124, 33)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M7.027 7.027l9.946 9.946m0-9.946l-9.946 9.946m6.792-10.43h3.64v3.64m-7.278-3.64h-3.64v3.64m7.278 7.278h3.64v-3.64m-7.278 3.64h-3.64v-3.64' stroke-width='1.6'/%3E%3Ccircle cx='12.102' cy='12.102' r='10'/%3E%3C/svg%3E");
    bottom: 50px;
    right: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--zoomIn' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(244, 124, 33)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12.102' cy='12.102' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E");
    bottom: 10px;
    right: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='vis-icon vis-icon--zoomOut' width='30' height='30' viewBox='0 0 24 24' fill='none' stroke='rgb(244, 124, 33)' stroke-width='2' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E");
    bottom: 10px;
    right: 55px;
}

#context-menu {
    /* --top: 0;
    --left: 0;
    top: var(--top);
    left: var(--left); */
    position: fixed;
    z-index: 900;
    width: 150px;
    background: white;
    transform: scale(0);
    transform-origin: top left;
    background-color: #0b579f;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item button {
    width: 150px;
    background: #0b579f;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: inherit;
    border-width: 0px;
}

#context-menu .item button:hover {
    background: #288CEB;
}

#context-menu .topicmenu {
    padding: 2px;
}

#context-menu .topicmenu button {
    background: #97c2fc;
    transition: 0.3s;
    border: none;
    /*             padding:20; */
    border-radius: 6px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px 2px;
    font-size: 11px;
    color: black;
    cursor: pointer;
}

#context-menu .topicmenu button:hover {
    background: #FCD197;
}

#nameTool {
    color: white;
    text-align: center;
    font-size: 16pt;
    background-color: #F47C21;
    padding: 5px;
}

#legendnormal img {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 2px;

    -moz-border-radius: 50%;
    border-radius: 50%;

    text-align: center;
    font-size: 2em;
    display: inline;
    vertical-align: middle;

}

#legendBox {
    padding: 10px;
}

#ExpandedNode {
    height: 40px;
    width: 40px;
    display: inline-block;

    -moz-border-radius: 50%;
    border-radius: 50%;

    vertical-align: middle;
    margin: 2px;
}

#circle {
    height: 30px;
    width: 30px;
    line-height: 50px;
    margin: 2px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.ui-menu img {
    width: 40px;
    height: 40px;
}

.ui-menu li span {
    padding: 0 0 10px 10px;
    margin: 0 0 10px 0 !important;
    white-space: pre-wrap;
}


.ui-menu li:not(:first-child) {
    border-top: 1px #ccc solid;
    padding: 1px 0;
}

.ui-helper-hidden-accessible {
    display: none
}

#tooltopic_autocomplete {
    width: 200px;
}

.ui-autocomplete {
    max-height: 200px;
    width: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    font-size: 0.875rem;
    padding: 0px;
    position: absolute;
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.ui-menu-item-wrapper {
    cursor: pointer;
}

.ui-menu-item-wrapper.ui-state-active {
    background-color: #F47C21;
    color: #fff;
    border: none;
}

.ui-menu-item-wrapper.ui-state-active img {
    filter: brightness(0) invert(1);
}

.ui-autocomplete-zindex-1000 {
    z-index: 1000;
}

.boxAutocomplete {
    display: flex;
    align-items: center;
    max-width: 200px;
    padding: 1px;
}

.TextAutocomplete {
    vertical-align: middle;
    margin-left: 3px;
}

.noResults {
    padding: 5px;
}

.typeSoft {
    font-size: small;
    font-weight: bold;
    margin-left: 3px;
}

.close-icon {
    width: 16px;
    height: 23px;
    float: left;
    padding-left: 7px;
}

.name-topic {
    overflow: hidden;
}

.topicDiv {
    border: none;
    color: white;
    padding: 5px 0px;
    font-size: 16px;
    cursor: default;
    display: block;
    width: 200px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.buttons:hover {
    font-weight: bold;
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
        box-shadow 0.5s ease;
}

#MenuImage {
    width: 40px;
    height: 40px;
    padding: 4px 1px;
}

#openbtn {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.0);
    border: none;
    z-index: 1000;
    position: fixed;
    left: 20px;
    top: 20px;
    transition: left 0.3s linear;
}

#visualization {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    transition: 0.5s;
}

.visualization-with-sidebar {
    width: calc(100% - 300px);
}

.visualization-without-sidebar {
    width: 100%;
}

#initial-screen {
    height: 100vh;
    z-index: 10;
    background: #eee;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    text-align: center;
    position: relative;
    font-size: 22pt;
}

#initial-explanation {
    font-size: 18pt;
    color: #555555;
}

#text-initial {
    margin: 0px 25px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1600px) {
    #text-initial div {
        width: 70%;
    }
}

.imgHomePage {
    width: 15em;
    vertical-align: middle;
    margin: 50px 0px;
}

@media only screen and (max-width: 800px) {
    .imgHomePage {
        width: 80%;
        vertical-align: middle;
        margin: 50px 0px 0px 0px;
    }

    #initial-explanation {
        font-size: 14px;
    }

    #text-initial {
        margin: 5px;
        font-size: 20px;
        margin-right: 10px;
    }
}

#loading {
    height: 100vh;
    z-index: 30;
    background: #eee;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    position: relative;
    font-size: 16pt;
    display: flex;
    flex-direction: column;
}

#loadingSpinner {
    width: 4em;
    animation: spin 3s infinite linear;
    margin-bottom: 4vh;
}

#loadingText {
    position: relative;
    text-align: center;
    width: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



#main {
    transition: margin-right .5s;
    text-align: right;
    height: 100vh;
}

.main-without-sidebar {
    margin-left: 0px;
}

.main-with-sidebar {
    margin-left: 300px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.firstStepsContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.modal-backdrop {
    z-index: 1000;
}

.modal {
    z-index: 1001;
}

.home-subtitle {
    font-weight: 600;
    color: #444444;
}

.nav-title {
    margin-top: 5px;
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.loading,
.disp-block {
    display: block;
}

.bg-lightOrange {
    background-color: #fbba7e
}

.bg-lightBlue {
    background-color: #add8e6;
}

.bg-lightPink {
    background-color: #FB7E81;
}

.bg-lightTurquoise {
    background-color: #b2e6ad;
}

#liveAlertPlaceholder {
    position: absolute;
    right: 0px;
    z-index: 999;
    display: grid;
    max-height: 100vh;
    margin-top: 0px;
    padding: 20px 10px;
    overflow-y: scroll;
}

#liveAlertPlaceholder div {
    text-align: center;
}

.carrousel-item {
    padding: 30px;
}

.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    width: 75%;
    justify-self: center;
}

.form-check-input {
    cursor: pointer;
}

.live-alert-placeholder-with-sidebar {
    width: calc(100% - 300px);
    transition: width 0.3s linear;
}

.live-alert-placeholder-without-sidebar {
    width: 95%;
    transition: width 0.3s linear;
}

#openbtn.sidebar-open {
    left: 240px;
}

.logo-sidebar {
    width: 170px;
}

.logo-sidebar:hover {
    cursor: pointer;
}

.custom-tooltip .tooltip-inner {
    background-color: var(--bs-secondary);
    color: var(--bs-light);
}

#topics-tools-list {
    max-width: 85%;
}

.shadow-sm {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
}