<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>InSoLiTo graph</title>
    
    <!--   Autocomplete flask   -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!--   Dynamic tabs       -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    
    <!--  Neo4j  -->
    <script src="https://unpkg.com/neovis.js@2.0.0-alpha.4"></script>
    

    <style type="text/css">
        html, body {
            height:100%
        }
        #viz {
            width: 100%;
            height:100%;
            border: 1px solid white;
            font: 22pt arial;
            background: white;
        }
        
        #mydiv {
            font: 12pt arial;
            line-height: 1.6;
            margin-bottom: 30px; /* between paragraphs */
            position: absolute;
            z-index: 9;
            background-color: #f1f1f1;
            text-align: center;
            border: 1px solid #d3d3d3;
            width: 350px;
        }

        #mydivheader {
            padding: 8px;
            font: 10pt arial;
            cursor: move;
            z-index: 10;
            background-color: #2196F3;
            color: #fff;
        }
        /* Add space between lines */
        .column{
            padding:5px;
        }
        .rangesli{
            margin: auto;
            width: 300px;
            
        }
        div.ui-slider-range.ui-widget-header {
            background: #2196F3;
        }
        .rangeyears{
            border:0;
            background:#f1f1f1;
            margin:auto;
            color:#2196F3;
            text-align: center;
            font-weight:bold;
            padding-top:5px;
        }

        
        
        #context-menu {
            position: fixed;
            z-index: 10000;
            width: 150px;
            background: #1b1a1a;
            transform: scale(0);
            transform-origin: top left;
        }

        #context-menu.visible {
            transform: scale(1);
            transition: transform 200ms ease-in-out;
        }

        #context-menu .item button {
            width: 150px;
            background: #1b1a1a;
            border-radius: 5px;
            padding: 8px 10px;
            font-size: 15px;
            color: #eee;
            cursor: pointer;
            border-radius: inherit;
            border-width:0px;
        }

        #context-menu .item button:hover {
            background: #343434;
        }
        #context-menu .topicmenu button {
            background: #97c2fc;
            transition: 0.3s;
            border:none;
/*             padding:20; */
            border-radius: 6px;
            text-align: center;
            display: block;
           margin-left: auto;
            margin-right: auto;
            margin-top:3px;
            margin-bottom:3px;
            padding: 2px 2px;
            font-size: 11px;
            color: black;
            cursor: pointer;
            
        }

        #context-menu .topicmenu button:hover {
            background: #FCD197;
        }
        
        
        
    </style>
    
    <script type="text/javascript">
        var viz;
        function draw() {
            var config = {
                container_id: "viz",
                neo4j:{
                    server_url: "bolt://localhost:7687",
                    server_user: "neo4j",
                    server_password: "1234"
                },
                visConfig: {
                    layout:{
                        randomSeed:34
                    },
                    physics: {
                        forceAtlas2Based: {
                            gravitationalConstant: -100,
                            centralGravity: 0.005,
                            springLength: 230,
                            springConstant: 0.18,
                            avoidOverlap:0.1
                        },
                        maxVelocity: 146,
                        solver: "forceAtlas2Based",
                        timestep: 0.35,
                        stabilization: {
                            enabled: true,
                            iterations: 2000,
                            updateInterval: 25,
                        },

                    },
                    interaction: {
                        tooltipDelay: 200,
                    },
                },                
                labels: {
                    Publication: {
                        label: "subtitle",
                        group: "community",
                        [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                            static:{
                                image: "{{url_for('static', filename='paper_centered.png')}}",
                                shape: "circularImage"
                            },
                        function: {
                            title: (nodes) => viz.nodeToHtml(nodes, [
                                "title",
                                "year"
                            ])
                        }
                        }
                    },
                    InferedTool: {
                        label: "name",
                        group: "community",
                        [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                            static:{
                                image: "{{url_for('static', filename='tool_centered.png')}}",
                                shape: "circularImage"
                            }
                        }
                    },
                    Database: {
                        label: "name",
                        //value: "pageRank",
                        group: "community",
                        [NeoVis.NEOVIS_ADVANCED_CONFIG]: {
                            static:{
                                image: "{{url_for('static', filename='database_centered.png')}}",
                                shape: "circularImage"
                            }
                        }
                    }
                },
                relationships: {
                    METAOCCUR: {
                        value: "times",
                        title: "year"
                    },
                    METAOCCUR_ALL: {
                        value: "times",
                        title: "times"
                    
                    }
                },           
                arrows: false
            };
        viz = new NeoVis.default(config);
        viz.render();
        
        }
    </script>
</head>
<body onload="draw()">

<div id="mydiv">
  <div id="mydivheader">Click here to move</div>
    <div class="tabbable boxed parentTabs p-4">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#set1" class="nav-link">Tools</a>
            </li>
            <li><a href="#set2" class="nav-link">Topics</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="set1">
                <div class="column">
                    {{ tool.autocomp.label }}:<br> {{ tool.autocomp }}
                </div>
                <div class="column">
                    <p>Max. Number of most connected neighbours:</p> 
                    <input id="toolfirstcooccurrences" type="number" value="100"><br>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#sub11" class="nav-link">All Years</a>
                        </li>
                        <li><a href="#sub12" class="nav-link">Range of years</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="sub11">
                            <div class="column">
                                <p>
                                    <input type="submit" value="Submit" id="toolreloadall">
                                    <input type="submit" value="Update" id="toolupdateall">
                                    <input type="submit" value="Stabilize" id="stabilize">
                                </p>
                            </div> 
                        </div>
                        <div class="tab-pane fade" id="sub12">
                            <p>
                                <input type="text" id="amount" readonly class="rangeyears">
                            </p>
                            <div id="slider-range" class="rangesli"></div>
 

                            <div class="column">
                                <p>
                                    <input type="submit" value="Submit" id="toolreloadyear">
                                    <input type="submit" value="Update" id="toolupdateyear">
                                    <input type="submit" value="Stabilize" id="stabilize">
                                </p>
                            </div>                   
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="set2">
                <div class="column">
                    {{ topic.autocomp.label }}:<br> {{ topic.autocomp }}
                </div>
                <div class="column">
                    <p>Max. Number of most connected neighbours:</p>
                    <input id="topiccor" type="number" value="100"><br>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#sub21" class="nav-link">All Years</a>
                        </li>
                        <li><a href="#sub22" class="nav-link">Range of years</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="sub21">
                                <p>
                                    <input type="submit" value="Submit" id="topicreloadall">
                                    <input type="submit" value="Update" id="topicupdateall">
                                    <input type="submit" value="Stabilize" id="stabilize">
                                </p>
                        </div>
                        <div class="tab-pane fade" id="sub22">
                            <div class="column">

                                <p>
                                    <input type="text" id="amount2" readonly class="rangeyears">
                                </p>
                                <div id="slider-range2" class="rangesli"></div>
                                <div>
                                    <p>
                                        <input type="submit" value="Submit" id="topicreloayear">
                                        <input type="submit" value="Update" id="topicupdateyear">
                                        <input type="submit" value="Stabilize" id="stabilize">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

<div id="viz"></div>


    <div id="context-menu">
    </div>


</body>


<script>
    $( function() {
    $( "#slider-range" ).slider({
        range: true,
        min: 1958,
        max: 2022,
        values: [ 1958, 2022 ],
        slide: function( event, ui ) {
        $( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
    });
    $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
        " - " + $( "#slider-range" ).slider( "values", 1 ) );
    } );
    console.log($( "#amount" ).val().substr(0,4));
    console.log($( "#amount" ).val().substr(7,11));
</script>

<script>
    $( function() {
    $( "#slider-range2" ).slider({
        range: true,
        min: 1958,
        max: 2022,
        values: [ 1958, 2022 ],
        slide: function( event, ui ) {
        $( "#amount2" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
    });
    $( "#amount2" ).val($( "#slider-range2" ).slider( "values", 0 ) +
        " - " + $( "#slider-range2" ).slider( "values", 1 ) );
    } );
    console.log($( "#amount2" ).val().substr(0,4));
    console.log($( "#amount2" ).val().substr(7,11));
</script>

<script>
    //Make the DIV element draggagle:
    dragElement(document.getElementById("mydiv"));

    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "header")) {
            /* if present, the header is where you move the DIV from:*/
            document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
        } else {
            /* otherwise, move the DIV from anywhere inside the DIV:*/
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
</script>

<script>
    $("ul.nav-tabs a").click(function (e) {
        e.preventDefault();  
        $(this).tab('show');
    });
</script>

<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#tool_autocomplete').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>

<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete2") }}'
            }).done(function (data){
                $('#topic_autocomplete2').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>

<script>
    // Stabilize graph
    $("#stabilize").click(function() {
    console.log("Stabilizing")
        viz.stabilize();
                    console.log(viz.nodes.length);

    })
</script>

<script>

     function ExpandFunction( name, nconnected) {

        var cypher_query ='MATCH (i)-[o:METAOCCUR_ALL]-(p) where i.name="' + name +'" return i,o,p order by o.times DESC limit ' + nconnected + '';                        

        viz.updateWithCypher(cypher_query);
        console.log(cypher_query);
    }

</script>


<script>

    function algo(nconnected){
        viz.network.on("selectNode", (e1) => {
        console.log("selecting");

            Menu(e1, nconnected);
        });
        
        viz.network.on("deselectNode", (e1) => {
            console.log("deselect");
            var contextMenu = document.getElementById("context-menu");
            contextMenu.innerHTML='';
        }); 
    }

</script>

<script>
 function Menu(e1, nconnected){    
    if (e1.nodes.length === 1) {
        var node = e1.nodes[0];
        if(viz.network.body.nodes[node].options.image == "/static/paper_centered.png"){
            return;
        }
        console.log(node);
        console.log(viz.network.body.nodes[node]);
        
        // Display menu
        const contextMenu = document.getElementById("context-menu");
        contextMenu.innerHTML =  '<div class="topicmenu" id="topic"></div><div class="item" id = "webpage"></div><div class="item" id="expand"></div>'
        const scope = document.querySelector("body");
        
        var name= viz.network.body.nodes[node].options.raw.properties.name;
        console.log(name);
        
        var label= viz.network.body.nodes[node].options.raw.properties.label;
        console.log(label);
        
        
        if("topiclabel" in viz.network.body.nodes[node].options.raw.properties){
            console.log("topic");
            var topiclabel= viz.network.body.nodes[node].options.raw.properties.topiclabel;
            console.log(topiclabel.length);
                
            var topicedam= viz.network.body.nodes[node].options.raw.properties.topicedam;
            console.log(topicedam);
        
            document.getElementById("topic").innerHTML="";
            for (var i = 0;i < topiclabel.length; i++){
                document.getElementById("topic").innerHTML += '<button onclick="window.open(&#34;' + topicedam[i] + '&#34; , &#34;_blank&#34;)" >' + topiclabel[i] + '</button>';
            }
        }
        

            
        document.getElementById("webpage").innerHTML = '<button onclick="window.open(&#34;https://openebench.bsc.es/tool/'+ label +'&#34; , &#34;_blank&#34; )">Webpage</button>';
        
        document.getElementById("expand").innerHTML = '<button onclick="ExpandFunction(&#34;'+ name +'&#34;, &#34;'+ nconnected +'&#34;)">Expand</button>';

        const normalizePozition = (mouseX, mouseY) => {
            // ? compute what is the mouse position relative to the container element (scope)
            let {
            left: scopeOffsetX,
            top: scopeOffsetY,
            } = scope.getBoundingClientRect();
            
            scopeOffsetX = scopeOffsetX < 0 ? 0 : scopeOffsetX;
            scopeOffsetY = scopeOffsetY < 0 ? 0 : scopeOffsetY;
        
            const scopeX = mouseX - scopeOffsetX;
            const scopeY = mouseY - scopeOffsetY;

            // ? check if the element will go out of bounds
            const outOfBoundsOnX =
            scopeX + contextMenu.clientWidth > scope.clientWidth;

            const outOfBoundsOnY =
            scopeY + contextMenu.clientHeight > scope.clientHeight;

            let normalizedX = mouseX;
            let normalizedY = mouseY;

            // ? normalize on X
            if (outOfBoundsOnX) {
            normalizedX =
                scopeOffsetX + scope.clientWidth - contextMenu.clientWidth;
            }

            // ? normalize on Y
            if (outOfBoundsOnY) {
            normalizedY =
                scopeOffsetY + scope.clientHeight - contextMenu.clientHeight;
            }

            return { normalizedX, normalizedY };
        };

        scope.addEventListener("contextmenu", (event) => {
            event.preventDefault();


            const { clientX: mouseX, clientY: mouseY } = event;

            const { normalizedX, normalizedY } = normalizePozition(mouseX, mouseY);

            contextMenu.classList.remove("visible");

            contextMenu.style.top = `${normalizedY}px`;
            contextMenu.style.left = `${normalizedX}px`;
            



            setTimeout(() => {
            contextMenu.classList.add("visible");
            });
        });

        scope.addEventListener("click", (e) => {
            // ? close the menu if the user clicks outside of it
            if (e.target.offsetParent != contextMenu) {
            contextMenu.classList.remove("visible");
            }

        });        
        
        }

    }

</script>

<script>
// Search by tool
    // Search by all years
    $("#toolreloadall").click(async function() {
        var cypher_variable = $("#tool_autocomplete").val();
        var cypher_first_co = $("#toolfirstcooccurrences").val();
        if (cypher_variable.length > 2 ) {
            var cypher_query ='MATCH (i)-[o:METAOCCUR_ALL]-(p) where i.name="' + cypher_variable +'" return i,o,p order by o.times DESC limit ' + cypher_first_co + '';                        

            viz.renderWithCypher(cypher_query);
            console.log(cypher_query);
            
            await new Promise(r => setTimeout(r, 500));
            console.log(viz.nodes.length);
            if(viz.nodes.length == 0){
                alert("No results found. Try again!");
            }
            
        } else {
            console.log("#reload");
            viz.reload();
        }

        algo(cypher_first_co);

    });
    
    // Update query - Last query will not dissapear
    $("#toolupdateall").click(async function() {
        var cypher_variable = $("#tool_autocomplete").val();
        var cypher_first_co = $("#toolfirstcooccurrences").val();
        if (cypher_variable.length > 2 ) {
            var cypher_query ='MATCH (i)-[o:METAOCCUR_ALL]-(p) where i.name="' + cypher_variable +'" return i,o,p order by o.times DESC limit ' + cypher_first_co + '' ;                     
            
            viz.updateWithCypher(cypher_query);
            console.log(cypher_query);
            
            await new Promise(r => setTimeout(r, 500));
            console.log(viz.nodes.length);
            if(viz.nodes.length == 0){
                alert("No results found. Try again!");
            }
            
        } else {
            console.log("#reload");
            viz.reload();
        }
        
        algo(cypher_first_co);
    });

</script>
 
<script>
// Search by tool script
    // Search for every year
    $("#toolreloadyear").click(async function() {
        var cypher_variable = $("#tool_autocomplete").val();
        var cypher_first_co = $("#toolfirstcooccurrences").val();
        var cypher_min = $( "#amount" ).val().substr(0,4);
        var cypher_max = $( "#amount" ).val().substr(7,11);
        
        if (cypher_variable.length > 2 ) {
            var cypher_query = 'MATCH (i)-[o:METAOCCUR]-(p) where i.name="' + cypher_variable +'" and o.year <=' + cypher_max + ' and o.year >=' + cypher_min + ' return i,o,p order by o.times DESC limit ' + cypher_first_co + '';

            viz.renderWithCypher(cypher_query);
            console.log(cypher_query);
            
            await new Promise(r => setTimeout(r, 500));
            console.log(viz.nodes.length);
            if(viz.nodes.length == 0){
                alert("No results found. Try again!");
            }
            
        } else {
            console.log("#reload");
            viz.reload();
        }
        algo(cypher_first_co);

    });
    // Update query - Last query will not dissapear
    $("#toolupdateyear").click(async function() {
        var cypher_variable = $("#tool_autocomplete").val();
        var cypher_first_co = $("#toolfirstcooccurrences").val();
        var cypher_min = $( "#amount" ).val().substr(0,4);
        var cypher_max = $( "#amount" ).val().substr(7,11);

        if (cypher_variable.length > 2 ) {
            var cypher_query = 'MATCH (i)-[o:METAOCCUR]-(p) where i.name="' + cypher_variable +'" and o.year <=' + cypher_max + ' and o.year >=' + cypher_min + ' return i,o,p order by o.times DESC limit ' + cypher_first_co + '';

            
            viz.updateWithCypher(cypher_query);
            console.log(cypher_query);
            
            await new Promise(r => setTimeout(r, 500));
            console.log(viz.nodes.length);
            if(viz.nodes.length == 0){
                alert("No results found. Try again!");
            }
            
        } else {
            console.log("#reload");
            viz.reload();
        }
        algo(cypher_first_co);

    });

</script>
    
    
<script>
// Search by Topic
    // Search for all years
    $("#topicreloadall").click(async function() {
        var cypher_variable = $("#topic_autocomplete2").val();
        var cypher_first_co = $("#topiccor").val();

        if (cypher_variable.length > 2 ) {
            var cypher_query = 'match (n)-[:TOPIC]->(k:Keyword)-[:SUBCLASS*]->(k2:Keyword) where k2.label="'+ cypher_variable +'" or k.label="'+ cypher_variable +'" with distinct n with collect(n) as nt unwind nt as nt1 unwind nt as nt2 match (nt1)-[m:METAOCCUR_ALL]-(nt2) return nt1,m,nt2 limit ' + cypher_first_co + '';
            
            viz.renderWithCypher(cypher_query);
            console.log(cypher_query);
            
            await new Promise(r => setTimeout(r, 500));
            console.log(viz.nodes.length);
            if(viz.nodes.length == 0){
                alert("No results found. Try again!");
            }
            
        } else {
            console.log("#topicreload");
            viz.reload();
        }
        algo(cypher_first_co);

    });
        
    // Update query - Last query will not dissapear
    $("#topicupdateall").click(async function() {
        var cypher_variable = $("#topic_autocomplete2").val();
        var cypher_first_co = $("#topiccor").val();
        
        if (cypher_variable.length > 2 ) {
            var cypher_query = 'match (n)-[:TOPIC]->(k:Keyword)-[:SUBCLASS*]->(k2:Keyword) where k2.label="'+ cypher_variable +'" or k.label="'+ cypher_variable +'" with distinct n with collect(n) as nt unwind nt as nt1 unwind nt as nt2 match (nt1)-[m:METAOCCUR_ALL]-(nt2) return nt1,m,nt2 limit ' + cypher_first_co + '';
            
            viz.updateWithCypher(cypher_query);
            console.log(cypher_query);
            
            await new Promise(r => setTimeout(r, 500));
            console.log(viz.nodes.length);
            if(viz.nodes.length == 0){
                alert("No results found. Try again!");
            }
            
        } else {
            console.log("#topicreload");
            viz.reload();
        }
        algo(cypher_first_co);

    });
</script>

<script>
// Search by Topic
    // Search by every year
    $("#topicreloayear").click(async function() {
        var cypher_variable = $("#topic_autocomplete2").val();
        var cypher_first_co = $("#topiccor").val();
        var cypher_min = $( "#amount2" ).val().substr(0,4);
        var cypher_max = $( "#amount2" ).val().substr(7,11);

        if (cypher_variable.length > 2 ) {
            var cypher_query = 'match (n)-[:TOPIC]->(k:Keyword)-[:SUBCLASS*]->(k2:Keyword) where k2.label="'+ cypher_variable +'" or k.label="'+ cypher_variable +'" with distinct n with collect(n) as nt unwind nt as nt1 unwind nt as nt2 match (nt1)-[m:METAOCCUR]-(nt2) where m.year > ' + cypher_min + ' and m.year < ' + cypher_max + ' return nt1,m,nt2 limit ' + cypher_first_co + '';
            
            viz.renderWithCypher(cypher_query);
            console.log(cypher_query);
            
            await new Promise(r => setTimeout(r, 500));
            console.log(viz.nodes.length);
            if(viz.nodes.length == 0){
                alert("No results found. Try again!");
            }
            
        } else {
            alert("message");
            console.log("#topicreload");
            viz.reload();
        }
    });
        
    // Update query - Last query will not dissapear
    $("#topicupdateyear").click(async function() {
        var cypher_variable = $("#topic_autocomplete2").val();
        var cypher_first_co = $("#topiccor").val();
        var cypher_min = $( "#amount2" ).val().substr(0,4);
        var cypher_max = $( "#amount2" ).val().substr(7,11);
        
        if (cypher_variable.length > 2 ) {
            var cypher_query = 'match (n)-[:TOPIC]->(k:Keyword)-[:SUBCLASS*]->(k2:Keyword) where k2.label="'+ cypher_variable +'" or k.label="'+ cypher_variable +'" with distinct n with collect(n) as nt unwind nt as nt1 unwind nt as nt2 match (nt1)-[m:METAOCCUR]-(nt2) where m.year > ' + cypher_min + ' and m.year < ' + cypher_max + ' return nt1,m,nt2 limit ' + cypher_first_co + '';
            
            viz.updateWithCypher(cypher_query);
            console.log(cypher_query);
            
            await new Promise(r => setTimeout(r, 500));
            console.log(viz.nodes.length);
            if(viz.nodes.length == 0){
                alert("No results found. Try again!");
            }
            
        } else {
            console.log("#topicreload");
            viz.reload();
        }
        algo(cypher_first_co);

    });
</script>


</html> 
 
